<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <df-messenger style="margin-bottom: 1000px;" intent="WELCOME" chat-title="Agri Market" agent-id="a01c424e-e925-4cac-88c8-7e07d257f27f" language-code="en"></df-messenger>
    <app-footer></app-footer>
</body>
</html>

<button class="raise primary" *ngIf="isShow" (click)="gotoTop()"><mat-icon>arrow_upward</mat-icon></button>